@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
  direction: rtl;
  background: linear-gradient(#0000ff, #6767c4);
}

.bottom {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2 * -1)) rotateY(180deg);
}

.top {
  transform: rotateX(90deg) translateZ(calc(var(--size) / 2));
}

.left {
  transform: translateZ(calc(var(--size) / 2)) translateY(-2px);
}

.right {
  transform: translateZ(calc(var(--size) / 2 * -1)) translateY(2px) rotateY(180deg);
}

.front {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2 * -1)) rotateY(180deg);
}

.back {
  transform: rotateY(90deg) translateZ(calc(var(--size) / 2));
}

.headline {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  color: white;
}
.headline h1 {
  margin-left: 35px;
}

.all-site {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.explanation {
  color: white;
  line-height: 25px;
  margin: 50px 0;
}
.explanation h1 {
  margin: inherit;
}
.explanation ol {
  list-style-position: inside;
}
.explanation a {
  color: white;
  font-size: 25px;
}

.cube {
  width: var(--size);
  height: var(--size);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  animation: rotate 20s infinite linear;
}
@keyframes rotate {
  to {
    transform: rotateX(360deg) rotateY(250deg);
  }
}
.cube.cubeMain {
  position: absolute;
  left: 50px;
}
.cube.cubeMain .bottom {
  background-image: url("./logos/efrat.jpg");
}
.cube.cubeMain .top {
  background-image: url("./logos/groovesegol.png");
}
.cube.cubeMain .left {
  background-image: url("./logos/kolyacov.jpg");
}
.cube.cubeMain .right {
  background-image: url("./logos/lamashcanta.jpg");
}
.cube.cubeMain .front {
  background-image: url("./logos/ohadkor.jpg");
}
.cube.cubeMain .back {
  background-image: url("./logos/thelosttreasures.png");
}
.cube > div {
  position: absolute;
  width: var(--size);
  height: var(--size);
  border: 3px solid white;
  background-size: var(--size);
  background-position: center;
  background-repeat: no-repeat;
}

.bottom {
  background-color: blue;
}

.top {
  background-color: #7c84c9;
}

.left {
  background-color: #44c0c0;
}

.right {
  background-color: rgba(61, 150, 150, 0.2588235294);
}

.front {
  background-color: #557c7c;
}

.back {
  background-color: #3c7979;
}

.form-item {
  display: flex;
  margin-bottom: 25px;
  color: white;
}

.form-item div {
  width: 360px;
  height: 30px;
  text-align: center;
  position: relative;
  top: 5px;
}

.form-item div:first-child:after {
  content: ":";
  margin-left: 5px;
}

.form-item input {
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  width: 190px;
}

.input-group {
  display: flex;
  width: 190px !important;
  justify-content: space-between;
}
.input-group input {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  width: 50px;
  text-align: center;
}
.input-group .button-plus,
.input-group .button-minus {
  width: 50px;
  cursor: pointer;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.createBtn {
  font-size: 26px;
  padding: 5px 50px;
  text-align: center;
  background-color: skyblue;
  color: white;
  border: 0;
}

.shortcode {
  color: white;
  direction: ltr;
}

.copyBtn {
  color: white;
  text-align: center;
  border: 0;
  padding: 0 50px;
  font-size: 26px;
  background-color: blue;
  margin: 0 auto;
  display: none;
}/*# sourceMappingURL=style.css.map */